body {
    font: 20px Arial, sans-serif;
}
.navbar, .quem-somos, .parceiros, .servicos {
    background-image: url(/img/CARREFOURbackground.jpg) ;
}

.h3 {
    padding: 30px;
    color: white;
}

.margin {
    padding: 20px;   
}

.parceiros {
    padding: 30px;  
}

.servicos {
    background-color: #58FAF4;
    padding: 30px;       
}

.bg-footer {
    background-color:black;
    color: white;
    text-decoration: line-through;
    font-style: italic;
}